spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8091/realms/local
          jwk-set-uri: http://localhost:8091/realms/local/.well-known/openid-configuration
