spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:9090/realms/local
#          jwk-set-uri: http://localhost:9090/realms/local/.well-known/openid-configuration
