name: mega-project-docker

services:
  postgres-db:
    image: postgres:14-alpine
    restart: always
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=mega_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - "db:/var/lib/postgresql/data"
    profiles: [ 'app' ]
#    networks:
#      - backend_net

  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.1
    hostname: zookeeper
    container_name: zookeeper
    ports:
      - '2181:2181'
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    profiles: [ 'app' ]
#    networks:
#      - backend_net

  schema-registry:
    image: confluentinc/cp-schema-registry:7.5.1
    hostname: schema-registry
    container_name: schema-registry
    depends_on:
      - zookeeper
      - kafka-broker
    ports:
      - '8081:8081'
    environment:
      SCHEMA_REGISTRY_HOST_NAME: schema-registry
      SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS: 'kafka-broker:29092'
      SCHEMA_REGISTRY_LISTENERS: http://0.0.0.0:8081
    profiles: [ 'app' ]
#    networks:
#      - backend_net

  kafka-broker:
    image: confluentinc/cp-kafka:7.5.1
    hostname: kafka-broker
    container_name: kafka-broker
    depends_on:
      - zookeeper
    ports:
      - '9092:9092'
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: "zookeeper:2181"
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka-broker:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_CONFLUENT_LICENSE_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_CONFLUENT_BALANCER_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_CONFLUENT_SCHEMA_REGISTRY_URL: http://schema-registry:8081
    profiles: [ 'app' ]
#    networks:
#      - backend_net

  kafka-ui:
    container_name: kafka-ui
    image: provectuslabs/kafka-ui:latest
    ports:
      - '9080:8080'
    depends_on:
      - kafka-broker
      - schema-registry
    environment:
      DYNAMIC_CONFIG_ENABLED: 'true'
      KAFKA_CLUSTERS_0_NAME: kafka_playground_cluster
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka-broker:29092
    volumes:
      - ./kui/config.yaml:/etc/kafkaui/dynamic_config.yaml
    profiles: [ 'kafka-admin' ]
#    networks:
#      backend_net:
#      default:

  keycloak:
    image: quay.io/keycloak/keycloak:26.3
    container_name: local-keycloak
    command:
      - start-dev
      - --import-realm
      - --http-port=8091
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    profiles: [ 'app' ]
    network_mode: host
    #    ports:
    #      - "8091:8091"
    volumes:
      - ./keycloak/realms:/opt/keycloak/data/import

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - ./prometheus/alert_rules.yml:/etc/prometheus/alert_rules.yml
      - ./prometheus/dynamic_targets.json:/etc/prometheus/dynamic_targets.json
      - ./prometheus/recording_rules.yml:/etc/prometheus/recording_rules.yml
#    ports:
#      - 9090:9090
#    networks:
#      - backend_net
    network_mode: host
    extra_hosts:
      - "host.docker.internal:host-gateway"
    profiles: [ 'observability' ]

  grafana:
    image: grafana/grafana
    container_name: grafana
#    ports:
#      - 3000:3000
    #    restart: unless-stopped
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=grafana
    volumes:
      - ./grafana/provisioning/datasources:/etc/grafana/provisioning/datasources
      - ./grafana/provisioning/dashboards:/etc/grafana/provisioning/dashboards
      - ./grafana/dashboards:/var/lib/grafana/dashboards
    network_mode: host
    profiles: [ 'observability' ]

  alertmanager:
    image: prom/alertmanager
#    ports:
#      - 9093:9093
    network_mode: host
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - "./alertmanager/alertmanager.yml:/etc/alertmanager/alertmanager.yml"
    profiles: [ 'observability' ]
volumes:
  db:

#networks:
#  backend_net:
#  public_net:
