name: CI Test

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '*'

permissions:
  contents: write

env:
  #  optimized args for CI environment
  GRADLE_ARGS: "--no-daemon --console=plain --stacktrace"

jobs:
  build:
    name: "Gradle build on JDK 21"

    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
      - name: Setup Java 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: 'corretto'
      - name: Print gradlew version
        run: ./gradlew -v
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          cache-read-only: false
      - name: Generate and submit dependency graph
        uses: gradle/actions/dependency-submission@v4
      - name: Build only service with Gradle. Skip tests
        run: ./gradlew clean :service:build -x :test -x :service:test -x :service:bootJar -x :component-test:build -x :component-test:test $GRADLE_ARGS
  unit-tests:
    name: "Gradle unit tests"
    needs: [ "build" ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
      - name: Setup Java 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: 'corretto'
      - name: Print gradlew version
        run: ./gradlew -v
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          cache-read-only: false
      - name: Unit Tests with Gradle
        run: ./gradlew :service:test $GRADLE_ARGS
      - name: Upload Component Test Report
        if: always() # Ensure the reports are uploaded even if the tests fail
        uses: actions/upload-artifact@v4
        with:
          name: unit-test-report
          path: service/build/reports/tests/test/
  component-tests:
    name: "Gradle component tests"
    needs: [ "build" ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
      - name: Setup Java 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: 'corretto'
      - name: Print gradlew version
        run: ./gradlew -v
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          cache-read-only: false
      - name: Component Tests with Gradle
        run: ./gradlew  :component-test:test $GRADLE_ARGS
        env:
          APP_TEST_LATENCY_VALIDATION_THRESHOLD: 15ms
      - name: Upload Component Test Report
        if: always() # Ensure the reports are uploaded even if the tests fail
        uses: actions/upload-artifact@v4
        with:
          name: component-test-report
          path: component-test/build/reports/tests/test/