name: CI Test

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '*'

permissions:
  contents: write

env:
  #  optimized args for CI environment
  GRADLE_ARGS: "--no-daemon --console=plain --stacktrace"

jobs:
  build:
    name: "Gradle build on JDK 21"

    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6
      - name: Setup Java 21
        uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: 'corretto'
          cache: 'gradle'
      - name: Print gradlew version
        run: ./gradlew -v
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          cache-read-only: false
      - name: Generate and submit dependency graph
        uses: gradle/actions/dependency-submission@v5
      - name: Build only service with Gradle. Skip tests
        run: ./gradlew clean :service:build -x :test -x :service:test -x :service:bootJar -x :component-test:build -x :component-test:test $GRADLE_ARGS
  test:
    name: "Tests: ${{ matrix.test-type }}"
    needs: [ build ]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        test-type: [ unit, component ]
        include:
          - test-type: unit
            task: ':service:test'
            report-path: 'service/build/reports/tests/test/'
            latency-threshold: 'does-not-apply'
          - test-type: component
            task: ':component-test:test'
            report-path: 'component-test/build/reports/tests/test/'
            latency-threshold: '15ms'
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6
      - name: Setup Java 21
        uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: 'corretto'
          cache: 'gradle'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          cache-read-only: true
      - name: Run ${{ matrix.test-type }} tests
        run: ./gradlew ${{ matrix.task }} $GRADLE_ARGS
        env:
          APP_TEST_LATENCY_VALIDATION_THRESHOLD: ${{ matrix.latency-threshold }}
      - name: Upload ${{ matrix.test-type }} test report
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: ${{ matrix.test-type }}-test-report
          path: ${{ matrix.report-path }}